@model Soccer.Web.Models.TeamViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <partial name="_Team" />

            <div class="form-group" style="text-align: center">
                <a asp-action="Index" class="btn btn-default btn-sm">Cancel</a>
                <input type="submit" value="Create" class="btn btn-success btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
